* {
    margin: 0;
    padding: 0;
}

#stalker {
    pointer-events: none;
    position: fixed;
    top: -26px;
    /*座標調節（カーソル位置と円の中心を合わせる)*/
    left: -30px;
    /*座標調節（カーソル位置と円の中心を合わせる）*/
    width: 60px;
    /*マウスストーカーの直径*/
    height: 53px;
    /*マウスストーカーの直径*/
    background: url(greencat.png);
    background-size: 100%;
    transform: translate(0, 0);
    transition: transform 0.2s, top, 0.5s, left 0.5s, width .5s, height .5s, background-color .5s;
    /*ちょっと遅れてついてくるように*/
    transition-timing-function: ease-out;
    z-index: 999;
}



body {
    background: #F5F9E9;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    font-family: 'Kiwi Maru', serif;
}

nav.titleimage {
    float: left;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

img.logo {
    display: flex;
    width: 20%;
    margin-top: 30px;
    margin-left: 30px;
    max-width: 100px;
}

img.techneko {
    display: flex;
    width: 17vw;
    max-width: 400px;
}

.p-container {
    margin-left: auto;
    margin-right: 20px;
    width: auto;
}

nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 5%;
    padding: 20px 10px 10px 20px;
    overflow: hidden;
    background: #F5F9E9;
    opacity: 0.92;
    margin: 0px;
    text-align: center;
}

nav li {
    list-style-type: none;
    display: inline;
    padding: 0 10px;
    flex-wrap: nowrap;
    float: left;
}

.p-container a {
    height: 20px;
    width: 6.6vw;
    position: relative;
    display: table-cell;
    padding: 8px 16px;
    border-radius: 5px;
    color: #DC965A;
    background: #DC965A;
    text-decoration: none;
    font-size: 1.15vw;
    font-weight: medium;
    line-height: 2.0em;
    -webkit-transition: .8s;
    transition: .8s;
}

.p-container a.current {
    color: #F5F9E9;
}

.p-container a span {
    position: relative;
    z-index: 1;
}

.p-container a::before, .p-container a::after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 51%;
    height: 100%;
    -webkit-transition: .2s;
    transition: .2s;
    background-color: #F5F9E9;
}

.p-container a.current::before, .p-container a.current::after {
    background-color: #DC965A;
    border-radius: 5px;
}

.p-container a::before {
    left: 0;
}

.p-container a::after {
    right: 0;
}

.p-container a:hover::before, .p-container a:hover::after {
    width: 0;
    background: #F5F9E9;
    border-radius: 5px;
}

.p-container a.current:hover::before, .p-container a.current:hover::after {
    background: #F5F9E9;
}

.p-container a:hover {
    color: #F5F9E9;
    border-radius: 5px;
}

main {
    overflow: hidden;
    background: #F5F9E9;
    position: relative;
    margin: 0 0 3vh;
    color: #493B2A;
    display: flex;
    flex-direction: column;
    min-height: 72vh;
}

main.prepare {
    min-height: 67vh;
    margin: 160px 160px 0px;
    padding-bottom: 0;
}


/*横向き*/

/* @media screen and (orientation:landscape){
    main{
        padding-bottom: 0px;
    }  
  } */

/* その場で */

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeUpTrigger {
    opacity: 0;
}

.fadeRight {
    animation-name: fadeRightAnime;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeRightAnime {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeRightTrigger {
    opacity: 0;
}

/* その場で */

.fadeIn {
    animation-name: fadeInAnime;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeInTrigger {
    opacity: 0;
}

/* ぼかしから出現 */

.blur {
    animation-name: blurAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes blurAnime {
    from {
        filter: blur(10px);
        transform: scale(1.02);
        opacity: 0;
    }
    to {
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
    }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/

.blurTrigger {
    opacity: 0;
}

.col-9 {
    position: relative;
    clear: both;
    margin: 12vmin 130px 0vw;
}

.col-9 h1 {
    display: flex;
    position: absolute;
    width: 35vw;
    height: 6vw;
    color: #FEFEFE;
    font-size: 7vw;
    margin: 15vw auto 6vw 42vw;
    padding: 1.2vw;
}

.col-9 h1 p {
    font-size: 3vw;
    margin-bottom: 1.2vw;
    margin-top: auto;
}

.col-6 {
    background: #FEFEFE;
    height: 38vw;
    text-align: center;
    padding-top: 1vw;
}

.col-6 img {
    width: 18vw;
}

.col-6 h1.title {
    line-height: 1;
    font-family: 'Kiwi Maru', serif;
    color: #DC965A;
    margin-top: 5vw;
    margin-bottom: 0;
    font-size: 5vw;
}

.col-6 h2{
    color: #493B2A;
    font-size: 2.5vw;
    margin-top: 0;
}

.col-6 p {
    color: #493B2A;
    font-size: 2vw;
    width: 50vw;
    overflow-wrap: break-word;
    margin: 25px auto 5.5vw;
}

.col-5 {
    margin: 12vh 0px 0px;
    background: #F5F9E9;
    min-height: 45vh;
    text-align: center;
}

.col-5 .title {
    display: inline-block;
    top: -26px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 4vw;
    color: #DC965A;
    font-weight: bold;
}

.col-5 p {
    margin: auto;
    color: #493B2A;
    font-size: 2vw;
    margin-bottom: 5px;
}

.info {
    display: flex;
    margin: 0px 16vw;
}

dl {
    overflow: auto;
    width: 45%;
    height: 47vh;
    margin: 50px 0px;
    margin-right: 1vw;
    padding: 10px 0px 10px 20px;
    background-color: #FEFEFE;
    border-radius: 10px;
    font-size: 1.3vw;
}
dt{
    margin-right: 2vw;
}

dd a {
    color: #0E9594;
}

.col-3 {
    margin-top: 20px;
    display: flex;
}

.sidebar {
    margin-top: 50px;
    margin-left: 1vw;
    width: 48.5%;
    background: #F5F9E9;
    color: #493B2A;
}

.sns {
    width: 9%;
    height: 9%;
    margin-left: 10px;
    margin-right: 10px;
}

.sns_tag {
    display: inline-block;
    margin-top: 1vh;
    margin-bottom: 8vh;
}

.sns_tag p {
    font-size: 18px;
}

body{
    min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
    position: relative;/* ←相対位置 */
    padding-bottom: 5vh; /* ←フッターの高さを指定 */
    box-sizing: border-box;
}

footer {
    position: absolute;/* ←絶対位置 */
    bottom: 0;
    background-color: #DC965A;
    width: 100%;
    padding: 1vh 0;
    z-index: -1;
}

footer p {
    font-family: 'Kiwi Maru', serif;
    color: #F5F9E9;
    text-align: center;
    padding: 1vh;
    font-size: 1.4vw;
}

h1 {
    text-align: center;
    width: 35vw;
    line-height: 1;
    font-size: 5.5vw;
    color: #DC965A;
    font-weight: bold;
    margin: 120px auto 40px;
}

.col {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 100px 150px 90px;
    background: #FEFEFE;
    text-align: left;
}

.col text {
    display: inline-block;
}

.col img.pato {
    width: 11vw;
    height: 16vw;
    margin-top: 50px;
    margin-right: 60px;
    margin-left: 50px;
}

.col img.tnr {
    width: 16vw;
    height: 20vw;
    margin: 80px 20px 0px;
}

.col img.talk {
    width: 18vw;
    height: 15vw;
    margin: 40px 20px 0px 30px;
}

.col .title {
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 0px;
    width: 40vw;
    line-height: 1;
    font-size: 5vw;
    color: #DC965A;
    font-weight: bold;
    text-align: left;
}

.col p {
    padding-top: 30px;
    padding-bottom: 100px;
    color: #493B2A;
    font-size: 1.8vw;
    width: 60vw;
    overflow-wrap: break-word;
}

.group {
    justify-content: center;
    min-height: 380px;
    text-align: left;
}

.group img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.group p {
    display: block;
    width: 800px;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    color: #493B2A;
    font-size: 24px;
    overflow-wrap: break-word;
}

.group table {
    display: block;
    margin: 5vw auto;
    width: 63%;
    font-size: 2vw;
    border-collapse: collapse;
}

.group table tr {
    border-bottom: solid 3px #F5F9E9;
}

.group table tr:last-child {
    border-bottom: none;
}

.group table th {
    position: relative;
    text-align: center;
    width: 30%;
    background-color: #DC965A;
    color: #FEFEFE;
    text-align: center;
    padding: 10px 0;
    border-radius: 4px;
}

.group table th:after {
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: calc(50% - 10px);
    right: -10px;
    border-left: 10px solid #DC965A;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.group table td {
    text-align: left;
    width: 70%;
    text-align: center;
    background-color: #FEFEFE;
    padding: 10px 20px;
    border-radius: 8px;
}

.group a {
    font-weight: bold;
}

.group a:link {
    color: #0E9594;
    text-decoration: underline;
}

.group a:visited {
    color: #0E9594;
    text-decoration: underline;
}

.group a:active {
    color: #DC965A;
}

.beige {
    background: #F5F9E9;
}

p.c{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 5vh;
}

h2.neko {
    display: flex;
    font-size: 3.2vw;
    color: #0E9594;
    margin: 20px auto 10px;
    text-align: center;
}

.screen {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 9% 7vh 11%;
    text-align: center;
}

.screen .card {
    display: block;
    padding: 20px;
    margin-top: 4vh;
    width: 44vh;
    height: 44vh;
    background-color: #FEFEFE;
    border-style: dashed;
    border-width: 3px;
    border-color: #DC965A;
    border-radius: 200px;
    /* box-shadow: 4px 5px #C5C9B9; */
}

.screen .card:not(:nth-child(3n+3)) {
    margin-right: 2.3%;
}

.screen .card:nth-child(3n+3) {
    margin-right: 2.3%;
}

.screen .card img {
    width: 55%;
    margin: 1vh auto 2vh;
    cursor: pointer;
}
.screen .card img:hover{
    position: relative;
    bottom: 2vh;
}

.screen .card img:active{
    position: relative;
    bottom: 2vh;
}

.screen .card img.side {
    width: 82%;
    margin: 2vh 5% 3vh;
}

.screen .card h2 {
    width: 80%;
    margin: 7% auto 0px;
    font-size: 2.5vw;
    color: #493B2A;
    line-height: 1em;
}

.screen .card h3 {
    margin: 0px auto 20px;
    font-size: 20px;
    color: #493B2A;
}

.screen .card h3.female {
    color: #DC965A;
}

.screen .card h3.male {
    color: #0E9594
}

.overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(14, 149, 148, .8);
}

.overlay img{
    float: left;
    width: 40vw;
    margin: 20vh 3vw 20vh 10vw;
}

.overlay h3{
    font-size: 6vw;
    color: #FEFEFE;
    margin: 16vh 0 5vh;
}

.overlay p{
    font-size: 2vw;
    margin-left: 50%;
    height: 29vh;
    width: 43vw;
    color: #FEFEFE;
}

.overlay h4{
    color: #FEFEFE;
    font-size: 2vw;
}

.donation {
    display: flex;
    margin: 0 auto 6.1vw;
    font-size: 1.6vw;
    color: #493B2A;
    text-align: center;
    width: 48vw;
}

.donation a:link {
    color: #0E9594;
    text-decoration: underline;
}

.donation a:visited {
    color: #0E9594;
    text-decoration: underline;
}

.donation a:active {
    color: #DC965A;
}

form {
    width: 45vw;
    margin: 0 auto;
}

form label {
    display: flex;
    width: auto;
    font-size: 2.5vw;
    padding: 0px 0px 10px;
}

form input {
    display: flex;
    font-size: 1.8vw;
    width: 45vw;
    margin: 0 auto;
}

form textarea {
    display: flex;
    font-size: 1.8vw;
    width: 45vw;
    margin: 0 auto;
    height: 12vw;
}

form button {
    display: flex;
    line-height: 3vw;
    margin: 5px auto 20px;
    background-color: #DC965A;
    color: #F5F9E9;
    font-size: 1.8vw;
    font-family: 'Kiwi Maru', serif;
    text-align: center;
    padding: 0 20px;
    border-color: #DC965A;
    border-bottom: 5px solid #CC864A;
    border-radius: 3px;
}

form button:hover {
    margin: 8px auto 20px;
    color: #F5F9E9;
    background: #DC965A;
    border-bottom: 2px solid #CC864A;
    border-radius: 3px;
}

p.contact {
    display: flex;
    text-align: center;
    width: 42vw;
    margin: 10px auto 50px;
    font-size: 1.5vw;
}
p.contact a{
    display: contents;
    color: #0E9594;
}

p.thanks {
    display: flex;
    text-align: center;
    width: 50vw;
    margin: 10px auto 30px;
    font-size: 1.8vw;
}

a.thanks {
    display: flex;
    text-align: center;
    width: 10vw;
    margin: 10px auto 30px;
}

a.thanks:link {
    color: #0E9594;
    text-decoration: underline;
}

a.thanks:visited {
    color: #0E9594;
    text-decoration: underline;
}

a.thanks:active {
    color: #DC965A;
}

.s-container {
    display: none;
}

@media screen and (max-width: 1025px){
    nav {
        padding: 2vw;
    }
    nav li {
        padding: 0 2px;
    }
    nav a {
        width: 6.4vw;
    }

    .col-5 {
        margin: 5vh 0px 0px;
    }

    /* .screen .card:nth-child(3n+3){
        margin-right: 2.6%;
    } */

    .screen {
        margin: 0;
        padding: 0 10vw 6vh 12vw;
    }
    
    .screen .card {
        height: 35vw;
        width: 35vw;
        margin-top: 2.3%;
        padding: 5px;
    }

    p.c{
        font-size: 2vw;
        margin-bottom: 2vh;
    }

    .overlay img{
        float: none;
        width: 80%;
        margin: 15vh 10vw 0;
        border-radius: 2px;
    }
    
    .overlay h3{
        font-size: 6vw;
        color: #FEFEFE;
        margin: 3vh 10vw 0;
    }
    
    .overlay p{
        font-size: 3vw;
        margin-left: 10vw;
        height: 20vh;
        width: 80%;
        color: #FEFEFE;
    }

    .overlay h4{
        font-size: 3vw;
        display: inline-block;
        margin-left: 10vw;
    }

    dl {
        height: 24vh;
    }
}
@media screen and (max-width: 1000px) {
    dl {
        height: 32vh;
    }
}

@media screen and (max-width: 750px) {
    #stalker{
        display: none;
    }
    img.techneko{
        width: 35vw;
    }
    nav {
        height: 8vw;
        padding: 3vw 2vw 0;
    }
    nav .p-container {
        display: none;
    }
    main{
        margin: 0 0 2vh;
    }
    #humberger {
        position: relative;
        display: block;
        width: 30px;
        height: 25px;
        margin: 0 0 0 auto;
    }
    #hamburger span {
        position: absolute;
        top: 6.3vw;
        right: 6.5vw;
        display: block;
        width: 5%;
        height: 2px;
        background-color: #DC965A;
        transform: translateY(-50%);
    }
    #hamburger::before {
        content: '';
        display: block;
        position: absolute;
        top: 4.4vw;
        right: 6.5vw;
        width: 5%;
        height: 2px;
        background-color: #DC965A;
    }
    #hamburger::after {
        content: '';
        display: block;
        position: absolute;
        top: 7.7vw;
        right: 6.5vw;
        width: 5%;
        height: 2px;
        background-color: #DC965A;
    }
    .snav {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: block;
        background: rgba(14, 149, 148, .8);
        transition: all .2s ease-in-out;
        opacity: 0;
        transform: translateY(-100%);
    }
    ul.s-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .s-container li {
        margin: 20px;
        padding: 0 auto;
        
    }
    .s-container li span {
        font-size: 15px;
        color: #F5F9E9;
        width: auto;
    }
    .s-container li a, .s-container li span {
        padding: 20px 0;
        text-decoration:none;
    }
    /*基準となるli要素*/
    .s-container .close {
        position: relative;
        padding-left: 20px;
    }
    /*バツ印線1*/
    .s-container .close::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 16px;
        height: 1px;
        background: #F5F9E9;
        transform: rotate( 45deg);
    }
    /*バツ印線2*/
    .s-container .close::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 16px;
        height: 1px;
        background: #F5F9E9;
        transform: rotate( -45deg);
    }
    .toggle {
        transform: translateY( 0 );
        opacity: 1;
     }

    .col-9 {
        position: relative;
        clear: both;
        margin: 13vmin 0px 0px;
    }
    .col-9 h1 {
        width: 35vw;
        height: 6vw;
        font-size: 8vw;
        margin: 11vh auto auto 52vw;
    }
    .col-6 {
        height: 58vw;
        padding-top: 1vw;
    }
    .col-6 img {
        width: 30vw;
    }
    .col-6 h1.title {
        line-height: 1;
        margin-top: 5vw;
        font-size: 7vw;
    }
    .col-6 p {
        width: 70vw;
        margin: 5vw auto 5.5vw;
        font-size: 3vw;
    }
    .col-5 .title{
        font-size: 5vw;
    }
    .info {
        display: block;
        margin: 0px 3px;
    }
    dl{
        height: 30vw;
        width: auto;
        margin: 10px 0px;
        font-size: 3vw;
    }
    .sidebar{
        margin: 10px auto 0;
        height: 400px;
        width: 95vw;
    }   
    .sns_tag {
        margin: 5vh 0;
    }
    
    .sns_tag p {
        font-size: 18px;
    }

    h1 {
        margin: 55px auto 20px;
        font-size: 8vw;
        width: 60vw;
    }
    .col {
        padding: 10px 20px 25px 20px;
        background: #FEFEFE;
        text-align: left;
        display: block;
    }
    .col text {
        display: inline-block;
    } 
    .col img{
        display: flex;
    }
    .col img.pato {
        width: 16vw;
        height: 24vw;
        margin: 10px auto;
    }
    .col img.tnr {
        width: 22vw;
        height: 28vw;
        margin: 10px auto;
    }
    .col img.talk {
        width: 22vw;
        height: 18vw;
        margin: 10px auto 30px;
    }
    .col .title {
        width: 80vw;
        font-size: 8vw;
    }
    .col p {
        padding: 18px;
        font-size: 3vw;
        width: 80vw;
    }
    .beige {
        background: #F5F9E9;
    }

    .group img {
        width: 90%;
    }
    .group table {
        width: 70%;
        margin: 20px auto;
        font-size: 3vw;
    }

    main.prepare {
        margin: 35px 5px;
    }
    main.prepare h1{
        width: 100%;
    }
    main.prepare p{
        font-size: 4vw;
    }
    .donation {
        width: 66vw;
    }

    h2.neko {
        font-size: 4vw;
    }

    .screen {
        margin: 0;
        padding: 0 10vw 6vh 12vw;
    }
    
    .screen .card {
        padding: 5px;
        height: 32vw;
        width: 32vw;
        margin-top: 2.3%;
    }


    form {
        width: 80vw;
        margin: 0 auto;
    }
    form label{
        font-size: 4vw;
    }
    form input{
        font-size: 2.5vw;
    }
    form textarea{
        font-size: 2.5vw;
        height: 20vh;
    }
    form button {
        line-height: 3vw;
        margin: 5px auto 20px;
        font-size: 3vw;
        padding: 10px 20px;
    }

    p.contact {
        font-size: 2.5vw;
        width: 65%;
    }

    p.thanks{
        width: 75%;
    }
    a.thanks{
        margin: 20px auto;
        width: 40%;
    }

    footer p{
        font-size: 4vw;
    }
}